@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --yellow: #f4d04e;
    --white: #ffffff;
    --gray-500: #6b6b6b;
    --gray-950: #121212;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--yellow);
    font-family: 'Figtree', sans-serif;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 400px;
    height: 550px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 7px 7px 1px 1px rgba(0, 0, 0, 1);
    overflow: hidden;
    padding: 5px;
    border: 1px solid black;

}
.card-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card-content-header{
    width: 100%;
    
}
.card-content-header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    padding: 20px;
    border-radius: 30px;
}
.card-content-body{
    width: 100%;
    margin: 0 0 24px 0;
}
.card-content-body-tag{
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    color: var(--gray-950);
    margin: 0 0 12px 0;
    background-color: var(--yellow);
    width: fit-content;
    padding: 8px 16px;
    border-radius: 10px;
    margin:0  20px 0 20px;
}
.card-content-body-date{
    font-size: 14px;
    font-weight: 500;
    color: var(--gray-500);
    margin: 0 0 12px 0;
    margin-top: 12px;
    margin-left: 20px;
}
.card-content-body-title{
    font-size: 24px;
    font-weight: 800;
    color: var(--gray-950);
    margin: 0 0 12px 0;
    margin-left: 20px;
}
.card-content-body-description{
    font-size: 16px;
    font-weight: 500;
    color: var(--gray-500);
    margin: 0 0 12px 0;
    margin-left: 20px;
}
.card-content-body-footer{
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 10px;
    font-weight: 700;
}
.card-content-body-footer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
footer{
 
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  background-color: var(--gray-950);
  
}
.footer-text{
    font-size: 14px;
    font-weight: 500;
    color: var(--white);
}
.footer-text a{
    color: var(--yellow);
    text-decoration: none;
}